.wrapper{
  height: 82px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-bottom: 3px;
  border-bottom-color: #DB5A3D;
  border-bottom-style:solid;
}
  .logo {
    display: flex;
    align-items: center;
    margin-left: 100px;
    }
    .logo img{
      width: 50px;
      height: 50px;
      margin-right: 20px;      
    }
  h1{
    color: #DB5A3D;
  }
  
  #tel{
    word-wrap: break-word;
    display: block;
    margin-right: 50px;
    padding-left: 30px;
    color: #DB5A3D;
    line-height: 15px;  
    background: url('../../../assets/img/logo/call-30o.png') no-repeat left center;
  }
  #tel img{
    height: 30px;
    width: 30px;
  }
  #telnum{
    margin-left: 0;
  }
  
