.header-inside{
  display: flex;
  align-items: center;
  justify-content:space-between
}
  .logo {
    display: flex;
    align-items: center;
    margin-left: 100px;
    }
    .logo img{
      width: 50px;
      height: 50px;
      margin-right: 20px;      
    }
  h1{
    color: #FFFFFF;
  }
  
  #tel{
    word-wrap: break-word;
    display: block;
    margin-left: 50px;
    padding-left: 32px;
    color: #FFFFFF;
    line-height: 20px;  
    background: url('../../../assets/img/logo/call-32.png') no-repeat left center;
  }
  #tel img{
    height: 30px;
    width: 30px;
  }
  #telnum{
    margin-left: 0;
  }
