<!-- <div class="logo"><img src="./assets/img/logo/my-app-logo.png"></div>
<h1>上海轩诚会计师事务所(普通合伙)</h1>
<header-menu-component></header-menu-component>
<div id="tel">
    服务热线:<br/><span id="telnum">13916107364</span></div>
<div class="wline"></div> -->

<div style="display: flex; align-items: center;">
    
<div class="logo"><img src="./assets/img/logo/my-app-logo.png"></div>
<h1>上海轩诚会计师事务所(普通合伙)</h1>
<app-menu></app-menu>
<div id="tel">
    服务热线:<br/><span id="telnum">13916107364</span></div>
<div class="wline"></div>
</div>
