.content{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card{
    width: 1350px;
    display: flex;
    flex-direction: row;   
}

.card >div{
    background-color: white;
    height: 400px;
    :hover{
        cursor: pointer;
        .more{
            color: #FA3103;
            cursor: pointer;
        }
        .title{
            color: #838383;
            cursor: pointer;
        }
    }
}

.card >div>div{
    height: 200px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 1.5em;
    font-weight: bold;
    color: #333333;
}

.para{
    white-space:normal; 
    width: 400px;
    text-align: center;
    margin: 10px 0;
}
.more{
    font-size: 1.1em;
    color: #DB5A3D;
    font-weight: bold;
}
