<ul nz-menu  class="menu" [nzMode]="'horizontal'" >
    <ng-container *ngFor="let item of _menuData">
        <li *ngIf="item.children" [nzOpen]="item.selected" nz-submenu>
            <span title>{{item.title}}</span>
            <ul>
              <li nz-menu-item *ngFor="let child of item.children" 
              [nzSelected]="child.selected"
              >{{child.title}}</li>
            </ul>
        </li>
        <li *ngIf="!item.children" [nzSelected]="item.selected"
       nz-menu-item>{{item.title}}</li>
    </ng-container>
</ul>    