<!-- <perfect-scrollbar [config]="{suppressScrollX: true}">
	<nz-layout class="layout">
		<nz-header>
			<div class="logo"><img src="./assets/img/logo/my-app-logo.png"></div>
			<h1>上海轩诚会计师事务所(普通合伙)</h1>
			<div id="tel"><img src="./assets/img/logo/tel-50.png"> 服务热线:<br><span id="telnum">13916107364</span></div>
			<header-menu-component></header-menu-component>
		</nz-header>
		<nz-content style="padding:0 50px;">
			<carousel-component></carousel-component>
			<router-outlet></router-outlet>
		</nz-content>
		<nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
	</nz-layout>
</perfect-scrollbar> -->

<nz-layout class="layout">
	<nz-header class="header">
	  <div class="logo"><img src="./assets/img/logo/my-app-logo.png"></div>
	  <h1>上海轩诚会计师事务所(普通合伙)</h1>
	  <app-menu></app-menu>
	  <div id="tel">
		 服务热线:<br/><span id="telnum">13916107364</span></div>
	  <div class="wline"></div>
	</nz-header>
	<nz-content class="content">
	  <app-carousel></app-carousel>
	  <app-card></app-card>
	</nz-content>
	<nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>