/* :host ::ng-deep .logo {
  width: 120px;
  height: 31px;
  background: #333;
  border-radius: 6px;
  margin: 16px 24px 16px 0;
  float: left;
} */
.ant-layout-header{
  height: 80px;
  line-height: 80px;
  
}
.logo {
  width: 50px;
  height: 50px;
  margin: 16px 16px 16px 100px;
  float: left;
}
.logo img {
  width: 50px;
  height: 50px;
}
h1 {
  float: left;
  color: #ffffff;
}

#tel {
  height: 80px;
  word-wrap: break-word;
  display: block;
  margin-right: 50px;
  float: right;
  color: #ffffff;
  line-height: 20px;
}
#tel img {
  height: 40px;
  width: 40px;
}
#telnum {
  margin-left: 0;
}
.ant-layout-header {
  padding: 0;
}
