<div nz-row [nzType]="'flex'" [nzJustify]="'center'">
    <div nz-col [nzSpan]="4">
      <!-- <menu-component></menu-component> -->
    </div>
    <div nz-col [nzSpan]="12">
        <nz-tabset>
            <nz-tab>
                <ng-template #nzTabHeading>
                    {{title}}
                </ng-template>
                <p>上海鼎邦会计师事务所(普通合伙)</p>
                <p>上海普陀区长寿路748弄1号2102室</p>
                <p>联系人：蔡老师</p>
                <p>手机： 13917815832 微信：13917815832 QQ:5977972</p>
                <p>联系人：王老师</p>
                <p>手机： 13917352097 微信：13917352097 QQ:99694353</p>                
            </nz-tab>
        </nz-tabset>
        
    </div>
    
  </div>