.text{
    color: #ffffff;
}
.info{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.QRcode{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: space-around;    
}
.copyright{
    margin-top: 20px;
    text-align: center;
}