<div nz-row [nzType]="'flex'" [nzJustify]="'center'">
    <div class="text info" nz-col [nzSpan]="6">
      <span>管理方：苏州工业园区规划建设局</span>
      <span>地址：苏州工业园区苏虹中路101号测绘地理信息大楼</span>
      <span>电话：0512-86861212</span>
      <span>邮箱：csptscm@dpark.com.cn</span>
      <span>运维：苏州工业园区测绘地理信息有限公司</span>      
    </div>        
    <div class="QRcode" nz-col [nzSpan]="6">
    <img src="./assets/img/logo/QRcode.png" alt="二维码">
    <div class="text">微信关注 了解更多</div>
    </div>        
</div>
<div class="text copyright">©2015-2017 苏州工业园区规划建设局 版权所有 苏ICP备06048641号</div>    