<div nz-row [nzType]="'flex'" [nzJustify]="'center'">
    <div class="text info" nz-col [nzSpan]="6">
      <span>上海鼎邦会计师事务所(普通合伙)</span>
      <span>地址：上海市普陀区长寿路748弄1号2102室 </span>
      <span>邮政编码: 200063</span>
      <span>电话: 86（21）62339822</span>
      <span>传真: 86（21）62339822</span>   
    </div>        
    <div class="QRcode" nz-col [nzSpan]="6">
    <img src="./assets/img/logo/QRcode.png" alt="二维码">
    <div class="text">扫码加微信咨询</div>
    </div>        
</div>
<div class="text copyright">©2015-2017 苏州工业园区规划建设局 版权所有 苏ICP备06048641号</div>    