<perfect-scrollbar [config]="{suppressScrollX: true}">
<nz-layout class="layout">
    <nz-header class="header">
        <header-component></header-component>
    </nz-header>
    <nz-content class="content">
        <nz-carousel [nzAutoPlay]="true">
            <div class="carousel" nz-carousel-content *ngFor="let index of array">
                <img src="/assets/img/carousel/{{index}}.jpg">
            </div>
        </nz-carousel>
        <router-outlet></router-outlet>
        <!-- <app-card></app-card> -->
    </nz-content>
    <nz-footer class="footer">
        <footer-component></footer-component>
         <!-- Design ©2017 Implement By Angular -->
    </nz-footer>
</nz-layout>
</perfect-scrollbar>