  .menu{
    background: #FFFFFF;
}
li{
    font-size:120%;
  }
  .ant-menu-dark .ant-menu-item{
    color: #000000;
  }
  .ant-menu-horizontal{
    border: 0;
  }
  .ant-menu-horizontal > .ant-menu-item:hover{
    color: #DB5A3D;
  }
  .ant-menu-horizontal .ant-menu-item:focus{
    outline: 0;
  }
  .ant-menu.ant-menu-dark .ant-menu-item-selected{
    background-color: #FFFFFF;
    color: #DB5A3D;
  }