<!-- <ul nz-menu class="menu" [nzMode]="'horizontal'"  >
    <ng-container *ngFor="let item of _menuData">
        <li *ngIf="item.children" [nzOpen]="item.selected" nz-submenu>
            <span title>{{item.title}}</span>
            <ul>
              <li nz-menu-item *ngFor="let child of item.children" 
              [nzSelected]="child.selected"
              >{{child.title}}</li>
            </ul>
        </li>
        <li *ngIf="!item.children" [nzSelected]="item.selected"
       nz-menu-item>{{item.title}}</li>
    </ng-container>
</ul>     -->

<ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
    <li nz-menu-item>nav 1</li>
    <li nz-menu-item>nav 2</li>
    <li nz-menu-item>nav 3</li>
  </ul>