<ul nz-menu  class="menu" nzTheme='dark' [nzMode]="'horizontal'">
    <ng-container *ngFor="let item of _menuData">
        <li *ngIf="item.children" [nzOpen]="item.selected" nz-submenu>
            <span title>{{item.title}}</span>
            <ul>
              <li nz-menu-item *ngFor="let child of item.children" 
               [routerLink]="child.path" 
              >{{child.title}}</li>
            </ul>
        </li>
        <li *ngIf="!item.children" [routerLink]="item.path"
       nz-menu-item>{{item.title}}</li>
    </ng-container>
</ul> 