.menu{
    background: #B40309;    
}
ul{
    line-height: 80px;
}
li{
    font-size:120%;
    color: #FFFFFF;
  }
  /* .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected
  {
    border-bottom: 0px solid red;
    color: #E9E610;
  } */
  .ant-menu-horizontal{
    border: 0;
  }