.ant-menu-item-selected{
    color: #DB5A3D;
}
.ant-menu-vertical .ant-menu-item:focus{
    outline: 0;
  }
  .ant-menu-item:hover{
    color: #DB5A3D;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: #fdf2ec;
    
  }
  i{
      margin-right: 10px;
  }